			<div class="sidebar">	
				
				<div class="widget">
					<%= image_tag("no-image.jpg", :alt => "No Image Picture") %>
					<p>Breila Rose Rathlou</p>
				</div><!-- .widget -->

				<div class ="widget">
					<h3>Follow Me</h3>
					<ul>
						<li><a href="https://www.facebook.com/Breila-Rose-Photography-351134388825/timeline" target="_blank">Facebook</a></li>
						<li><a href="#" target="_blank">Twitter</a></li>
						<li><a href="#" target="_blank">Instagram</a></li>
					</ul>
				</div><!-- .widget -->

				<div class="widget">
					<h3>Contact</h3>
					<p>BreilaRoseRathlou@gmail.com</p>
				</div><!-- .widget -->

			</div><!-- .sidebar -->